<html>
<head>
  <link rel="Stylesheet" type="text/css" href="%root_path%../templates/css/style.css" />
  <title>My Personal Wiki</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Roboto Font -->
  <link href='%root_path%../templates/css/roboto.css' rel='stylesheet' type='text/css'>

	<!-- My css -->
	<link href='%root_path%../templates/css/my.css' rel='stylesheet' type='text/css'>

	<!-- Code Prettify -->
  <script src="%root_path%../templates/js/jquery.min.js"></script>
  <script src="%root_path%../templates/js/my.js"></script>
  <script async src="%root_path%../templates/js/run_prettify.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a class = "nav-item"href="%root_path%index.html">Index</a></li>
				<li><a class = "nav-item"href="%root_path%article/article.html">Article</a></li>
				<li><a class = "nav-item"href="%root_path%diary/diary.html">Diary</a></li>
				<li><a class = "nav-item"href="%root_path%system/system.html">System</a></li>
				<li><a class = "nav-item"href="%root_path%other/other.html">Other</a></li>
			</ul>
		</div>
	</nav>

  <div class="container">
  %content%
  </div>

</body>
</html>

